# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.vscode

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# VirtualEnv
venv/
ENV/

# OS X Bullshit.
.DS_Store

# Packaged code.
*.zip

# Terraform files.
*.tfstate*
.terraform/